.formcontainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: -40px;
    margin-top: 30px;
}

.inputcontainer{
    display: flex;
    justify-content: space-between;
}

.input{
    height: 34px;
    width: 38vw;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 5px;
    outline: none;
    padding: 0 10px;

}

.btn{
    width: 80vw;
    height: 35px;
    margin: 30px 0;
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(162, 0, 255));
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}

.imgcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50vw;
    min-height: 50vh;
    margin: 0 auto;
    padding-bottom: 40px;
}

.img {
    width: 100%;
    height: 400px;
    position: relative;
}

.frasecontainer{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 350px;
    max-width: 300px;
   
}

.texttop,
.textbottom{
    color: white;
    width: 270px;
    font-size: 40px;
    word-wrap: break-word;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    text-align: center;
}